{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Go Lang</title>

    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="header">
        <h1>Headernya</h1>
    </div>

    {{ template "main" .}}

    <div class="footer">
        <h3>Footernya</h3>
    </div>
</body>
</html>
{{ end }}